@model IEnumerable<WebApplication4.Models.tusuario>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/alert/css/sweetalert.css" rel="stylesheet" />
<script src="~/Content/alert/js/sweetalert.min.js"></script>
<h2>Listado de usuarios</h2>
<script>
    function nuevo() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("nuevo", "usuarios")',
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: 'html',
            success: function (response) {
                $("#detalleusuario").html(response).show();
                var new_position = $('#detalleusuario').offset();
                window.scrollTo(new_position.left, new_position.top);
            },
            error: function (response) {
            }
        });
    }

    function eliminar(xid) {
        var objDatos = { id: xid };
        swal({
            title: "Desea eliminar el registro?",
            text: "===========================",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Eliminar",
            closeOnConfirm: false
        },
    function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("eliminar", "usuarios")',
            data: JSON.stringify(objDatos),
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            success: function (response) {
                if (response.Resultado == "OK") {
                    swal("Eliminado", "Se elimino correctamente", "success");
                    $("#detalleusuario").hide();
                    cargar();
                }
                else {
                    alert("Error al eliminar")
                }
            },
            error: function (response) {
            }
        });

    });
    }

    function editar(xid) {
        var objDatos = { id: xid };
        $.ajax({
            type: "POST",
            url: '@Url.Action("ListaporId", "usuarios")',
            data: JSON.stringify(objDatos),
            contentType: "application/json; charset=utf-8",
            dataType: 'html',
            success: function (response) {
                $("#detalleusuario").html(response).show();
                var new_position = $('#detalleusuario').offset();
                window.scrollTo(new_position.left, new_position.top);
            },
            error: function (response) {
            }
        });
        }
</script>
<p>
    <a href="javascript:nuevo()">Nuevo Usuario </a>
</p>
<table id="tabla" class="table table-striped table-bordered ">
   <thead>
        <tr>
            <th>
                Codigo 
            </th>
            <th>
               Apellidos nombres
            </th>
            <th>
               Cargo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.usu_cod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usu_nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usu_cargo)
                </td>

                <td style="text-align:center">
                    <a href="javascript:eliminar(@Html.DisplayFor(modelItem => item.usu_cod))">Eliminar </a>
                    <a href="javascript:editar('@Html.DisplayFor(modelItem => item.usu_cod)')">Editar </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Content/dtable/js/datatables.min.js"></script>

<script>

    $(document).ready(function () {
        $('#tabla').DataTable({
            "language": {
                "url": "../Content/dtable/idioma/es.json"
            }

        });
    });
</script>
<div style="text-align:center" id="detalleusuario" class="col-lg-8 col-lg-offset-2"></div>
